.alice.subtitle {
    width: 100%;
    background-color: #D0d0d0;
    margin-top: -5px;
    padding: 10px;
    margin-left: -20px;
    text-align:center;
}

.alice-icon {
    background-image: url( 'images/logo.svg' );
}

.alice-background-logo {
    background-image: url('images/logo.svg' );
    background-clip: 0 24px;
    background-repeat: repeat;
    background-size: 98px;
    position: absolute;
    bottom: 37px;
    right: 15px;
    width: 90px;
    height: 100px;
    -webkit-transform: rotate(-35deg);
    background-color: rgba(255,255,255,0.1);
    opacity: 0.2;
    background-position: -11px -117px;
}

@-webkit-keyframes alice-rotate-background-logo {
   from {
     -webkit-transform: rotate(-20deg);
   }
   to {
     -webkit-transform: rotate(-50deg);
   }
}

.alice-toolbar-error{
    background-position: 0 -72px;
}

.alice-background-logo.more-transparent {
    opacity: 0.1;
}

.alice-background-logo.busy {
    opacity: 0.4!important;
    background-position: -11px -221px;
    -webkit-animation-name: alice-rotate-background-logo;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.alice-background-logo.error {
    opacity: 0.4!important;
    background-position: -11px -331px;
}

.alice-toolbar-open{
    background-position: 0 -24px;
}

.alice-toolbar-loading{
    background-position: 0 -48px;
    -webkit-animation-name: alice-rotate-toolbar-icon;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes alice-rotate-toolbar-icon {
    0% {
     -webkit-transform: rotate(-10deg);
    }
    10% {
       -webkit-transform: rotate(10deg);
    }
    20% {
       -webkit-transform: rotate(-10deg);
    }
    30% {
        -webkit-transform: rotate(10deg);
    }
    40% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }

}

.alice-right-icons {
    position:absolute;
    right: 0px;
    top: 6px;
}

.alice-toolbar {
    height:30px !important
}

.alice-comments {
    margin-left:20px;
    margin-top:5px;
}

.alice-comments .media-object{
    border: 1px solid grey;
    margin-top:5px;
}

.alice-comments .media:nth-child(odd){
    background-color: #e6e9e9;
}

.alice-comments .media:nth-child(even){
    background-color: #dfe2e2;
}
