<div id="bottom-alice" class="bottom-panel vert-resizable top-resizer no-focus" >
    <div class="toolbar simple-toolbar-layout mainToolbar alice-toolbar">
        <div class="row-fluid">
            <div class="span1">
                <div class="btn-group">
                    <input type="button" class="btn"
                       id="nullpo-alice-btn-refresh" value="Refresh"/>
                </div>
            </div>
            <div class="span3">
                <div class="control-group alice-control-group-repo-url">
                    <div class="controls">
                        <input type="text" id="alice-url"
                           value=""
                           placeholder="Your github url..."/>
                    </div>
                </div>
            </div>
            <div class="span3">
                <strong id="title-alice"></strong>
            </div>
            <div class="span4 alice-right-icons" id="alice-select-issuetype">
                <div class="btn-group">
                    <button class="btn" id="nullpo-alice-btn-bugs">
                        <i class="octicon octicon-bug"></i>
                    </button>
                    <button class="btn" id="nullpo-alice-btn-open">
                        <i class="octicon octicon-issue-opened"></i>
                        Open
                    </button>
                    <button class="btn" id="nullpo-alice-btn-closed">
                        <i class="octicon octicon-issue-closed"></i>
                        Closed
                    </button>
                    <button class="btn" id="nullpo-alice-btn-all">
                        <i class="octicon octicon-list-unordered"></i>
                        All
                    </button>
                    <button class="btn" id="nullpo-alice-btn-settings">
                        <i class="octicon octicon-tools"></i>
                    </button>
                </div>
            </div>
            <a href="#" class="close">&times;</a>
        </div>
    </div>
    <div class="table-container resizable-content" id="bottom-alice-issues">
        <div class="alice-background-logo"></div>
        <div class="alice-bottom-content">

        </div>
    </div>
</div>

<script id="alice-settings-dialog-tpl" type="x-tmpl-mustache">
    <div id="myModal" class="modal">
        <div class="modal-header">
            <h1 class="dialog-title">Settings</h1>
        </div>
        <!-- dialog contents -->
        <div class="modal-body">
            <p>For a better experience, please provide us your Personal access token.</p>
            <p>You can get a new Personal access token from <a href="https://github.com/settings/applications#personal-access-tokens">here</a>
            </p>
            <input type="text" class="span4 alice accessToken" value="{{token}}" />
            <span class="alice lblTest"></span>
        </div>
        <!-- dialog buttons -->
        <div class="modal-footer">
            <a href="#" class="btn primary">Test & Save</a>
        </div>
    </div>
</script>
